
<h1>Listing Articles</h1>

<%= link_to 'New article', new_article_path %>

<br>
<br>
<div><button class="article_send_ajax">Send ajax</button>: <span class="article_ajax_result">null</span></div>
<br>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>



  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<script>

    $('.article_send_ajax').click(function () {
        jQuery.post('<%= url_for subscribe_path %>', { 'choices[]': [ "Jon", "Susan" ] });

<!--        jQuery.ajax({-->
<!--            type: 'POST',-->
<!--            url: '<%= url_for subscribe_path %>',-->
<!--            dataType: 'json',-->
<!--            contentType: 'application/json',-->
<!--            data: JSON.stringify({ person: { firstName: "Yehuda", lastName: "Katz" } }),-->
<!--            success: function(json) { }-->
<!--        });-->
    });

</script>